export(optimize.fast)
export(optimize.loose)
export(align)
export(preview)
importFrom(magrittr, "%>%")
importFrom(magrittr, "%<>%")
importFrom(Seurat, GetAssayData)
importFrom(Seurat, FindClusters)
importFrom(Seurat, Embeddings)
